{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-header-v2">
    <div class="container">
        <h1>Our Story</h1>
        <p>자연의 순수함, Sun&Sol의 철학을 만나보세요.</p>
    </div>
</div>

<div class="container content-section py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2>자연과 함께하는 여정</h2>
            <p class="lead my-4">Sun&Sol은 가장 순수한 자연의 성분으로 당신의 피부 본연의 건강함을 되찾아주는 것을 목표로 시작되었습니다. 저희는 화려한 화학 성분이 아닌, 오랜 시간 자연이 증명해 온 힘을 믿습니다.</p>
            <img src="https://placehold.co/800x400/a2b8a6/ffffff?text=Sun&Sol+Story" class="img-fluid rounded my-4" alt="Sun&Sol Story Image">
            <p>우리의 모든 제품은 청정 자연에서 얻은 원료를 바탕으로, 피부에 가장 순하고 효과적인 솔루션을 제공하기 위해 수많은 연구와 테스트를 거쳐 탄생합니다. Sun&Sol과 함께 당신의 피부가 매일 더 건강해지는 여정을 경험해보세요.</p>
        </div>
    </div>
</div>
{% endblock %}
